<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
		<title><%= Navigation.instance.pageTitle %></title>
	</head>
	
	<body>
		<%= erb :header %>		

		<img id="f_experience_stagelic" src="/images/PageExperience/feuille_note_taillee_punaises_stage_l3.png" alt="StageL3" />
		<img id="pi_experience_stagedut" src="/images/PageExperience/postit_blanc_taille_stage_dut.png" alt="StageDut" />
		<img id="pi_experience_ete" src="/images/PageExperience/postit_jaune2_taille_adetel_ete.png" alt="BoulotEte" />

		<%= erb :footer %>
	</body>
</html>
