<div id="header">
	<img src="<%= Navigation.instance.titleImgSrc %>" alt="<%= Navigation.instance.headerTitle %>"/>
	<a href="/"><img id="acceuil" src="/images/pancarte_accueil.png" alt="Retour acceuil"/></a>
</div>
