<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
		<title><%= Navigation.instance.pageTitle %></title>
	</head>
	<body>
		<%= erb :header %>

		<img id="ph_skis" src="/images/PageLoisirs/skis_photos_punaise.png" alt="PhotoSkis" />
		<img id="ph_moi_ski" src="/images/PageLoisirs/moi_ski_photo_scotch.png" alt="PhotoMoiSkis" />
		<img id="ph_montagne" src="/images/PageLoisirs/montagne_photo_punaises.png" alt="PhotoMontagne" />
		<img id="ph_home_studio" src="/images/PageLoisirs/home_studio_photo_scotch.png" alt="PhotoHomeStudio" />
		<img id="img_me_gusta" src="/images/PageLoisirs/me_guste_transparent.png" alt="MeGusta" />
		<img id="pi_musique" src="/images/PageLoisirs/postit_blanc_taille_musique.png" alt="Musique" />
		<img id="pi_livres" src="/images/PageLoisirs/postit_litterature.png" alt="Litt&eacute;rature" />
		<img id="pi_sports" src="/images/PageLoisirs/postit_blanc_taille_inverse_vert_sport.png" alt="Sports" />

		<%= erb :footer %>
	</body>
</html>
