<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
		<title><%= Navigation.instance.pageTitle %></title>
	</head>
	<body>
		<%= erb :header %>

		<img id="pipix" src="/images/PageMotivation/pipix_tag.png" alt="LogoPixelized" />
		<img id="pi_todo_ixelized" src="/images/PageMotivation/postit_blanc_taille_todo_motivation.png" alt="PostitTodoFonderEntreprise" />

		<%= erb :footer %>
	</body>
</html>
