<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
		<title><%= Navigation.instance.pageTitle %></title>
	</head>
	
	<body>
		<%= erb :header %>

		<img id="pi_personnalite_feneant" src="/images/PagePersonnalite/postit_blanc_taille_feneant.png" alt="f&eacute;n&eacute;ant" />
		<img id="pi_personnalite_honnete" src="/images/PagePersonnalite/postit_jaune2_taille_honnete.png" alt="honn&ecirc;te" />
		<img id="pi_personnalite_altruiste" src="/images/PagePersonnalite/postit_blanc_taille_inverse_vert_altruiste.png" alt="altruiste" />
		<img id="pi_personnalite_calme" src="/images/PagePersonnalite/postit_jaune2_taille_calme.png" alt="calme" />
		<img id="pi_personnalite_depensier" src="/images/PagePersonnalite/postit_vert2_taille_depensier.png" alt="d&eacute;pensier" />

		<%= erb :footer %>
	</body>
</html>
