<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
		<title><%= Navigation.instance.pageTitle %></title>
	</head>
	
	<body>
		<%= erb :header %>

		<img id="f_c_langages" src="/images/PageCompetences/feuille_note_taillee_punaise_langages.png" alt="Langages"/>
		<img id="pi_c_frameworks" src="/images/PageCompetences/postit_blanc_taille_inverse_frameworks.png" alt="Frameworks"/>
		<img id="pi_c_autres" src="/images/PageCompetences/postit_jaune2_taille_autres.png" alt="Autres"/>
		<img id="pi_c_langues" src="/images/PageCompetences/postit_vert2_taille_inverse_langues.png" alt="Langues"/>

		<%= erb :footer %>
	</body>
</html>
