<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
		<title><%= Navigation.instance.pageTitle %></title>
	</head>
	
	<body>
		<%= erb :header %>

		<%= erb :footer %>
	</body>
</html>
